* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
    scroll-behavior: smooth;
}

:root {
    --main: #222222;
    --secondary: #111111;
    --lighter-grey: #888888;
    --white: #ffffff;
    --black: #000000;

    --orange: #F9A31A;
    --whatsapp: #00E676;
    --behance: #0253F2;
    --dribbble: #A91F55;
    --twitter: #1C99E6;
    --instagram: #F56040;

    --cwhite: #ffffff;
    --gblack: #fff;
}

.light {
    --main: #f8f8f8;
    --secondary: #f2f2f2;
    --lighter-grey: #111111;
    --white: #000;
    --black: #fff;

    --orange: #F9A31A;
    --whatsapp: #00E676;
    --behance: #0253F2;
    --dribbble: #A91F55;
    --twitter: #1C99E6;
    --instagram: #F56040;

    --cwhite: #ffffff;
    --gblack: #000000;
}

@import "mixins";

$padding-mobile: 1.25rem; //20px
$padding-tablet: 6.25rem;
$padding-desktop: 12.5rem;

$margin-center: 0px auto;

$border-center: 25rem; //400px
$border: 1px solid var(--white);



  //------------------ RESET------------------

.h3-text {
    font-size: 1.875rem; //30px
    font-weight: 300;
    
    @include media("screen", ">=tablet") {
        font-size: 3.75rem; //60px
       } 
}

a {
    text-decoration: none;
    color: var(--white);
}

path {
    fill: var(--white);
}

 body {
     background-color: var(--main);
     color: var(--white);
     font-family: "poppins";
 }


 // -----------------Scrollbar---------------
 html::-webkit-scrollbar {
     width: 6px;
     background-color: var(--secondary);

     &:hover {
         width: 20px;
     }

     @include media("screen", ">=tablet") {
         width: 10px;
        } 
 }

 html::-webkit-scrollbar-thumb {
     width: 6px;
     background-color: var(--orange);
     border-radius: 10px;

     &:hover {
         background-color: var(--white);
     }
 }

 //-------------------THEME-------------------

 .theme {
     margin-right: 5px;
     cursor: pointer;
     
     path {
        fill: var(--white);
    }


     @include media("screen", ">=tablet") {
         margin-right: 0px;
     }
 }

  //------------------ NAVBAR------------------

 .navbar {
     height: 3.75rem; //60px
     background: rgba(17, 17, 17, 0.1);
     backdrop-filter: blur(60px);
     position: absolute;
     width: 100%;
     padding: $padding-mobile;
     position: fixed;
     z-index: 1000;

     display: flex;
     justify-content: space-between;
     align-items: center;

     @include media("screen", ">=tablet") {
         height: 6.75rem; //108px
         padding: 1.875rem; //30px
        } 
     
        @include media("screen", ">=desktop") {
         height: 5rem; //80px
         padding: 1.875rem; //30px
        } 

        &__links {
            display: none;

            @include media("screen", ">=desktop") {
                display: contents;
            } 

            ul {
                display: flex;
                justify-content: space-between;
                width: 40%;

                li {
                    list-style: none;
                    font-size: 0.8rem; //20px
                    font-weight: 300;
      
                    a {
                        &:hover {
                            padding-bottom: 0.25rem; //4px
                            border-bottom: 0.125rem solid var(--white); //2px
    
                            @include media("screen", ">=tablet") {
                                padding-bottom: 0.25rem; //4px
                                border-bottom: 0.125rem solid var(--white); //2px
                               }   
                        }
                    }
                }
            }


            .reach {
                display: none;
    
            @include media("screen", ">=desktop") {
                display: flex;
                border: $border;
                padding: 0.5rem 0.75rem; //8px 12px
                border: 1px solid var(--orange);
                border-radius: 0.375rem; //6px
                color: var(--orange);


            &:hover {
                background-color: var(--orange);
                color: var(--white);
            }
                } 
            }
        }


        &__logo {
                    
            @include media("screen", ">=tablet") {
                height: 2.0625rem; //33px
                width: 100%;
            } 
        }

        &__menu {

            
            &--opened , &--closed{
                path {
                    stroke: var(--white);
                }
            }
            &--opened {
                path {
                    stroke: var(--white);
                }
    
                @include media("screen", ">=desktop") {
                    display: none;
                } 
            }
                    
            @include media("screen", ">=tablet") {
                height: 2rem; //32px
                width: 2rem; //32px
            } 
            
            @include media("screen", ">=desktop") {
                display: none;
            } 
        }
 }
        
        .closed {
            display: none;
        } 
        
        .opened {
            display: contents;
        }




 .navbar-overlay {


    @include media("screen", ">=desktop") {
        display: none;
    } 

     .bg-overlay {
        background: rgba(17, 17, 17, 0.9);
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 999;
     }

     &__bg {
        background-color: var(--secondary);
        width: 80%;
        height: 100vh;
        position: fixed;
        z-index: 999;
        right: 0;
        padding: 11.25rem 1.5rem; //180px 24px

        a {
            color: var(--white);
            text-decoration: none;
        }

        ul {
            height: 11.25rem; //180px
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 3.75rem; //60px

            @include media("screen", ">=tablet") {
                height: 20rem; //320px
               } 

            li {
                list-style: none;
                font-size: 1.25rem; //20px
                font-weight: 300;

                @include media("screen", ">=tablet") {
                    font-size: 1.75rem; //28px
                   } 

                a {
                    &:hover {
                        padding-bottom: 0.25rem; //4px
                        border-bottom: 0.125rem solid var(--white); //2px

                        @include media("screen", ">=tablet") {
                            padding-bottom: 0.25rem; //4px
                            border-bottom: 0.125rem solid var(--white); //2px
                           }   
                    }
                }
            }
        }
        .line {
            width: 100%;
            height: 0.0625rem; //1px
            background-color: var(--orange);
        }

        .reach {
            display: inline-flex;
            margin-top: 2.5rem; //40px
            border: $border;
            padding: 0.5rem 0.75rem; //8px 12px
            border: 1px solid var(--orange);
            //border-radius: 0.375rem; //6px
            color: var(--orange);

            &:hover {
                background-color: var(--orange);
                color: var(--white);
            }
        }

        &--cta {
            display: flex;
            flex-direction: column;
        }
        
     }
 }



 .scroll-overlay {
     border: 1.5px solid var(--orange);
     width: 3.75rem; //60px
     height: 3.75rem; //60px
     z-index: 10;
     border-radius: 6.25rem; //100px
     background: rgba(249, 163, 26, 0.3);

     position: fixed;
     top: 85vh;
     right: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border: none;
        background-color: var(--orange);
        box-shadow: 0px 5px 25px -5px var(--black);

        svg {
            path {
                fill: var(--white);
            }
        }
    }
 }



 section {
     padding: $padding-mobile;

     @include media("screen", ">=tablet") {
         padding: $padding-tablet;
         } 
 }



 .header, .offer, .design, .code, .trading, .learn, .footer {
    padding-top: 7.5rem; //120px
    padding-bottom: 7.5rem; //88px
 }



 //------------------HEADER------------------

 .header {
     
     @include media("screen", ">=tablet") {
        padding-top: 12.5rem; //120px
    } 

     @include media("screen", ">=desktop") {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: center;
    } 

    &__main {
        margin-bottom: 2.8125rem; //45px
            /* width:fit-content; */

            @include media("screen", ">=desktop") {
                margin-bottom: 0rem; //45px
                display: inline-flex;
                flex-direction: column;
           }
            
        h2 {
            font-size: 3.25rem; //52px
            /* Typing effect start 
            /* overflow: hidden;
            border-right: .15em solid var(--orange);
            white-space: nowrap;
            animation: 
                typing 3.5s steps(60, end),
                blink-caret .75s step-end infinite; */
        }

         /* Typing effect 
        /* @keyframes typing {
            from {width: 0}
            to {width: 100%}
        } */
        /* Cursor effect 
        /* @keyframes blink-caret {
            from, to {border-color: transparent}
            50% {border-color: var(--orange)}
        }  */

        p {
            font-weight: 400;
            font-size: 1.125; //18px

            @include media("screen", ">=tablet") {
                font-size: 1.375rem;
                } 
        }
    }

    &__image {
        width: 16rem; //256px
        height: 16rem; //256px
        margin: $margin-center;
        border-radius: $border-center;
        background: linear-gradient(90deg, #F9A31A 0%, #E48C00 102.75%);

        display: flex;
        justify-content: center;
        align-items: center;

        @include media("screen", ">=tablet") {
                width: 20.1875rem;
                height: 20.1875rem;
           } 

           @include media("screen", ">=desktop") {
               position: absolute;
               right: 0;
               margin-right: 6.25rem;
       }

        &--inner {
            width: 15.5rem; //190px
            height: 15.5rem; //190px
            border-radius: $border-center;
            background: url("/images/Profile-Picc.jpg");
            background-size: contain;

            @include media("screen", ">=tablet") {
                    width: 19.5rem;
                    height: 19.5rem;
               } 
        } 

    }

    &__sub {
                
     @include media("screen", ">=tablet") {
         width: 25rem; //400px
        } 

        

        p {
            font-size: 1rem; //16px
            font-weight: 300; 
            padding: 2.8125rem 0 2.1875rem; //45px 0 35px
            line-height: 1.5625rem; //25px

            @include media("screen", ">=tablet") {
                font-size: 1.125rem; //18px
                line-height: 1.875rem; //30px
               }

               @include media("screen", ">=desktop") {
                padding: 1.8125rem 0 2.1875rem; //45px 0 35px
           }
        }


        &--explore {
            background: linear-gradient(90deg, #F9A31A 0%, #E48C00 102.75%);
            padding: 0.625rem 1.25rem; //10px 20px
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                letter-spacing: 0.125rem; //2px
            }

            svg {
                margin-left: 10px;
            }
        }


    }
 }



  //------------------WHAT WE OFFER------------------

  .offer {
    background-color: var(--secondary);     
    text-align: center;
    
    h3 {
        padding-bottom: 4.75rem; //76px
    }

    &__items {
        width: 100%;

        
        @include media("screen", ">=tablet") {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
           } 

           @include media("screen", ">=desktop") {
            flex-wrap: nowrap;
              } 

        &--item {
            border: $border;
            border-radius: 0.5rem; //8px
            height: 12.5rem; //200px
            padding: 1.875rem; //30px
            margin-bottom: 1.25rem; //20px

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            transition: all 500ms;

            &:hover {
                background: rgba(249, 163, 26, 0.3);
                border: 0rem; //0px
            }

            @include media("screen", ">=tablet") {
                width: 19.1875rem; //307px
                margin-bottom: 1.25rem; //20px
               } 

            @include media("screen", ">=desktop") {
                width: 16rem; //307px
                margin-bottom: 1.25rem; //20px
               } 
            

            .svg {
                border: $border;
                width: 2.625rem; //42px
                padding: 0.75rem; //12px
                border-radius: 6.25rem; //100px
                margin-bottom: 1.25rem; //20px
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
  }



  //------------------ DESIGN ------------------
  .design {    
    text-align: center;

    h3 {
        margin-bottom: 3.5rem; //56px
    }

    &__filter {
        display: flex;
        align-items: center;

        &--main , &--sub {
            margin: 20px 0 20px;
        }

        &--main {
            border: $border;
            width: 4.75rem; //76px
            padding: 8px; //8px
            border-radius: 0.25rem; //4px 
            margin-right: 0.625rem; //10px
            cursor: pointer;
    
            display: flex;
            justify-content: space-around;
            align-items: center;

    
            span {
                font-size: 0.875rem; //14px
                font-weight: 300;
            }
        }

        &--sub {
            display: none;

            ul {
                display: flex;
                li {
                    list-style: none;
                    border: 1px solid var(--lighter-grey);
                    color: var(--lighter-grey);
                    /* width: 75px; */
                    padding: 0.375rem 0.75rem; //6px 12px
                    margin-right: 0.3125rem; //5px
                    border-radius: 0.25rem; //4px
                    font-size: 0.75rem; //12px
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    transition: all 100ms;

                    &:hover {
                        color: var(--white);
                        border: $border;
                    }
                }
            }
        }
        
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        margin-bottom: 2.5rem; //40px
        border-radius: 0.375rem; //6px
        background-color: var(--white);
        color: var(--secondary);
        padding: 0.625rem; //10px
        /* width: 19.3125rem; //300px */

        @include media("screen", ">=phone") {
            width: 100%;
        } 
        
        @include media("screen", ">=tablet") {
            width: 19.3125rem; //309px
           }


        &--carousel {
            height: 16.25rem; //260px
            border-radius: 0.375rem; //6px
            overflow: hidden;
            /* background: url("/images/Music-App.jpg"); */
            background-size: cover;
            &:hover {
                transform: scale(0.98);
            }

            img {
                width: 100%;
            }
        }

        &--details {
            padding-top: 0.5rem; //8px
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.625rem; //10px

            .info {
                text-align: left;
                h5 {
                    font-size: 0.875rem; //14px
                    font-weight: 600;
                    margin-bottom: 0.3125rem; //5px
                }
                p {
                    font-size: 0.75rem; //12px
                    font-weight: 400;
                    font-style: italic;
                }
            }
            .view {
                background: linear-gradient(90deg, #F9A31A 0%, #E48C00 102.75%);
                width: 1.9375rem; //34px
                height: 1.9375rem; //34px
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.25rem; //4px
                cursor: pointer;

                path {
                    fill: none;
                    stroke: var(--white);
                }
            }
        }
    }

    &__profile {

        @include media("screen", ">=desktop") {
            margin-top: 1.25rem; //20px

            display: flex;
            align-items: center;
            justify-content: space-between;
           } 

        .behance, .dribbble {
        display: flex;
        justify-content: center;
        border-radius: 0.5rem; //8px
        padding: 0.8125rem 2.25rem; //13px 36px
        background-color: var(--behance);
        color: var(--cwhite);
        cursor: pointer;
        position: relative;

        path {
            fill: var(--cwhite);
        }

        /* @include media("screen", ">=tablet") {
           }  */

        &::after {
            content: " ";
            background: var(--behance);
            filter: blur(0.625rem); //10px
            position: absolute;
            z-index: -1;
            width: 90%;
            height: 50%;
            top: 25px;
            opacity: 0%;
            transition: all 300ms;
        }
        &:hover::after {
            opacity: 100%;
        }
        
        svg {
            margin-right: 1.25rem; //20px
        }
    }

    .dribbble {
        margin-top: 1.25rem;
        background-color: var(--dribbble);

        @include media("screen", ">=desktop") {
            margin-top: 0rem;
           } 

        &::after {
            background: var(--dribbble);
        }
        &:hover::after {
            opacity: 100%;
        }
    }

    &--view {
        display: none;

        

        @include media("screen", ">=desktop") {
            font-weight: lighter;
            width: 12.5rem; //200px

            display: flex;
            align-items: center;
            justify-content: space-around;
           } 
    }
    }


  }



  //------------------ CODE ------------------
  .code {
    background-color: var(--secondary);     
    text-align: center;


    h3 {
        margin-bottom: 3.5rem;
    }

    &__container {

        @include media("screen", ">=tablet") {
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
           } 
    }

    &__card {
        background-color: var(--main);
        margin-bottom: 2.625rem; //40px
        padding: 0.625rem; //10px
        border-radius: 0.375rem; //6px
        transition: all 300ms;

        &:hover {
            box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.15);
        }

        
        @include media("screen", ">=tablet") {
            width: 19.3125rem; //309px
           } 

        &--cover {
            border-radius: 0.375rem; //6px
            height: 11.25rem; //180px
            /* background: url("/images/Music-App.jpg"); */
            background-size: cover;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: " ";
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(249, 163, 26, 0.8) 0.9%, rgba(228, 140, 0, 0.8) 98.35%);
                opacity: 0;
                transition: all 400ms;
            }
            
            &:hover::after {
                opacity: 100%;
            }

            img {
                width: 100%;
                position: absolute;
            }

            .visit {
                z-index: 1;
                position: relative;
                background: transparent;
                width: 100%;
                height: 100%;
                opacity: 0;

                display: flex;
                align-items: center;
                justify-content: center;
                
                &:hover {
                    opacity: 1;
                }
            }
        }

        &--details {  
            padding-top: 0.5rem; //8px
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.625rem; //10px 

            .info {
                text-align: left;
                h5 {
                    font-size: 0.875rem; //14px
                    font-weight: 600;
                    margin-bottom: 0.3125rem; //5px
                }
                p {
                    font-size: 0.75rem; //12px
                    font-weight: 400;
                    font-style: italic;
                }
            }
            .visit {
                background: linear-gradient(90deg, #F9A31A 0%, #E48C00 102.75%);
                width: 2.125rem; //34px
                height: 2.125rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.25rem; //4px
                cursor: pointer;
            }
        }
    }

    .github {
        display: flex;
        justify-content: center;
        border-radius: 8px;
        padding: 13px 36px;
        background-color: var(--black);
        cursor: pointer;
        position: relative;

        
        svg {
            margin-right: 20px;
        }
    }
  }



  //------------------ CODE ------------------
  .trading {    

    text-align: center;

    &__info {
        padding-top: 1.875rem; //30px
            font-weight: 300;

        
        @include media("screen", ">=tablet") {
            width: 28.125rem; //450px
            margin: $margin-center;
            font-size: 1.25rem; //20px
           } 

    }

    &__join {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        border-radius: 0.5rem; //8px
        padding: 0.8125rem 2.25rem; //13px 36px
        background-color: var(--whatsapp);
        height: 3.75rem; //60px
        margin-top: 2.625rem; //42px
        position: relative;

        @include media("screen", ">=desktop") {
            width: 500px;
            margin: $margin-center;
            margin-top: 2.625rem; //42px
        } 

        &::after {
            content: " ";
            background: var(--whatsapp);
            filter: blur(0.625rem); //10px
            position: absolute;
            z-index: -1;
            width: 90%;
            height: 50%;
            top: 1.5625rem; //25px
            opacity: 0;
            transition: all 300ms;
        }
        &:hover::after {
            opacity: 100%;
        }

        svg {
            margin-right: 1.25rem; //20px
        }
    }
  }



  //------------------ LEARN ------------------
  .learn {
    background-color: var(--secondary);    

    text-align: center;

    &__coming {
        margin-top: 1.625rem; //26px
        font-size: 2.5rem; //40px
        font-weight: 700;

        
        @include media("screen", ">=tablet") {
            font-size: 4.375rem; //70px
           } 
    }
  }



  //------------------ FOOTER ------------------
  .footer {
    padding-bottom: 1.5rem; //88px

    font-weight: 300;
    color: var(--white);

    &__details {
        display: flex;
        justify-content: space-between;

        margin-bottom: 3.125rem; //50px

        &--left , &--right {
            p {
                margin-bottom: 1.875rem; //30px
            }
        }

        &--left {

            ul {
                height: 5rem; //80px

                @include media("screen", ">=tablet") {
                    height: 7.5rem; //120px
                } 

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                li {
                    list-style: none;
                    font-size: 0.75rem; //12px

                    @include media("screen", ">=tablet") {
                        font-size: 1rem; //16px
                    } 

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: var(--orange);
                    }
                }
            }
        }

        &--right {

            .links {
                width: 11.875rem; //190px
                height: 6.875rem; //110px

                display: flex;
                flex-wrap: wrap;

                path {
                    fill: var(--cwhite);
                }


                a {
                    border-radius: 0.25rem; //4px
                    margin-right: 1.25rem; //20px
                    height: 2.625rem; //42px
                    width: 2.625rem; //42px
                    display: flex;
                    align-items: center;
                    justify-content: center;

                &:nth-child(1) {
                        background-color: var(--whatsapp);
                }
                &:nth-child(2) {
                        background-color: var(--twitter);
                }
                &:nth-child(3) {
                        background-color: var(--instagram);
                }
                &:nth-child(4) {
                        background-color: var(--dribbble);
                }
                &:nth-child(5) {
                        background-color: var(--behance);
                }
                &:nth-child(6) {
                        background-color: var(--black);

                        &:nth-child(6) {
                    
                            svg {
                                path {
                                    fill: var(--gblack);
                                }
                            }
                        }
                }
                }
            }
        }
    }

    .copyright {
        font-size: 0.625rem; //10px
        text-align: center;
    }

  } 