@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0A192F;
    --foreground: #dde5ff;
    --primary: #64FFDA;
    --primary-light: #64ffdb17;
    --secondary: #97A1BF;

    /* --background: #0B0D17;
    --foreground: #D1D5DB;
    --primary: #FF4C29;
    --primary-light: #ff4d2919;
    --secondary: #97A1BF; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #d7f4ff;
    --foreground: #282828;
    --primary: #694a28;
    --secondary: #1F2937; */
    --background: #0B0D17;
    --foreground: #D1D5DB;
    --primary: #FF4C29;
    --primary-light: #ff4d2919;
    --secondary: #97A1BF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
